<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container justify-content-center mt-5" style="width: fit-content">
        This is Home
      {% if username %}
      <h4>You are logged in as {{username}}</h4>
      <h4>Login Status: {{login_status}}</h4>
      <a href="{% url 'logout' %}">logout</a>
      {% else %}
      <h4>You are not logged in</h4>
      <a href="{% url 'login' %}">login</a>
      {% endif %}
      <a href="{% url 'home' %}">home</a>
    </div>
</body>
</html>